@border-color: #bbb;
@green: rgb(0, 172, 21);
@red: rgb(255, 90, 95);
@grey: #f8f8f8;
nav{
  #menu-mobile{
    float:right;
  }
}
main{
  .title-intro{
    text-align: center;
  }
  .actions{
    text-align: center;
    display: inline;
    i{
      padding-right: 1rem;
      vertical-align: middle;
    }
  }
  #recap{
    margin-top: 3rem;
    margin-left: 3rem;
    h4{
      margin:0;
    }
    #total{
      float: right;
      margin-right: 3rem;
      i{
        vertical-align: middle;
        padding-right: 1rem;
      }
    }
  }
  #table-data{
    .table{
      display: table;
      width: 100%;
      margin-top:3rem;
      tr{
        width: 100%;
        display: table;
      }
      tbody{
        float:left;
        width: 100%;
        height: 350px;
        overflow: auto;
        td{
          width: 50%;
        }
      }
    }
  }
  .green{
    color:@green;
  }
  .red{
    color: @red;
    td{
      text-align: right;
    }
  }
  .no-data{
    margin-top: 3rem;
    text-align: center;
  }
}
.sa-confirm-button-container{
  display: inline;
}
.col50{
  width:50%;
}
.right-align{
  text-align: right;
}
.center-align{
  text-align: center;
}
/* Mobile first queries */

/* All mobile sizes  */
@media screen and (max-width: 767px) {
  nav{
    #menu-mobile{
      float:none;
    }
  }
  main{

  }

}
