<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet Manager</title>
    <link href="/css/style.min.css" rel="stylesheet" />
    <link href="/css/sweetalert.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body ng-app="Main" ng-controller="WalletCtrl">
    <header>
      <nav class="nav navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-mobile" aria-expanded="true">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">Wallet Manager</a>
          </div>
          <div class="collapse navbar-collapse" id="menu-mobile">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">Reset</a></li>
              <li><a href="#">View Source</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4 class="title-intro">Hi! Welcome to Wallet Manager!</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 actions">
          <button class="btn btn-default btn-success" ng-click="income()">Income</button>
          <button class="btn btn-default btn-danger" ng-click="withdraw()">Withdrawal</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table class="table" ng-if="wallet.amounts>0">
            <tr>
              <th>
                Date
              </th>
              <th>
                Importo
              </th>
            </tr>
            <tr ng-repeat="amount in wallet" ng-cloak>
              <td>
                {{amount.date}}
              </td>
              <td ng-class="">
                {{amount.total | currency:"€ "}}
              </td>
            </tr>
          </table>
          <h4 ng-if="wallet.amounts==0" class="red no-data">No data found</h4>
        </div>
      </div>
    </main>
    <footer class="container">
      <div class="row">
        <div class="col-xs-12">
          <h4>
            Developed by Flavio Colonna Romano
          </h4>
        </div>
      </div>
    </footer>
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/sweetalert.min.js"></script>
    <script src="/lib/jquery-1.11.3.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
