<!--
Wallet Manager

Developed with great passion by the front-end web developer Flavio Colonna Romano!
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet Manager</title>
    <link href="/css/style.min.css" rel="stylesheet" />
    <link href="/css/sweetalert.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body ng-app="Main" ng-controller="WalletCtrl">
    <header>
      <nav class="nav navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-mobile" aria-expanded="true">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">Wallet Manager</a>
          </div>
          <div class="collapse navbar-collapse" id="menu-mobile">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li ng-click="reset()"><a href="#">Reset</a></li>
              <li><a href="https://github.com/flaviocolonna/WalletManager" target="blank">View Source</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4 class="title-intro">Hi! Welcome to Wallet Manager!</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 actions">
          <button class="btn btn-default btn-success" ng-click="income()"><i class="fa fa-plus-square-o"></i>Income</button>
          <button class="btn btn-default btn-danger" ng-click="withdrawal()"><i class="fa fa-plus-square-o"></i>Withdrawal</button>
        </div>
      </div>
      <div class="row" id="recap">
          <div class="col-xs-6">
            <h4>
              Total
            </h4>
          </div>
          <div class="col-xs-6">
            <h4 id="total" class="green">
              <i class="fa fa-eur"></i><span>{{wallet.total | number: '2'}}</span>
            </h4>
          </div>
      </div>
      <div class="row" id="table-data">
        <div class="col-xs-12">
          <table class="table" ng-if="wallet.amounts.length>0">
            <tr>
              <th>
                Date
              </th>
              <th>
                Amount
              </th>
            </tr>
            <tr ng-repeat="amount in wallet.amounts | reverse" ng-cloak>
              <td>
                {{amount.date | date: "yyyy-MM-dd 'at' HH:mm"}}
              </td>
              <td ng-class="amount.type==1 ? 'green' : 'red'">
                {{amount.total | number:'2' | currency:"€ "}}
              </td>
            </tr>
          </table>
          <h4 ng-if="wallet.amounts.length==0" class="red no-data">No data found</h4>
        </div>
      </div>
    </main>
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/sweetalert.min.js"></script>
    <script src="/lib/jquery-1.11.3.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
