<!--
Wallet Manager

Developed with great passion by the front-end web developer Flavio Colonna Romano!
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet Manager</title>
    <link href="/css/style.min.css" rel="stylesheet" />
    <link href="/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="/bower_components/angular/angular.min.js"></script>
  </head>
  <body ng-app="Main" ng-controller="WalletCtrl">
    <header>
      <nav class="nav navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-mobile" aria-expanded="true">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">Wallet Manager</a>
          </div>
          <div class="collapse navbar-collapse" id="menu-mobile">
            <ul class="nav navbar-nav">
              <li title="Refresh the page"><a href="index.html">Home</a></li>
              <li ng-click="reset()" title="Reset wallet"><a href="#">Reset</a></li>
              <li title="View code"><a href="https://github.com/flaviocolonna/WalletManager" target="blank">View Source</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4 class="title-intro">Hi! Welcome to Wallet Manager!</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 actions">
          <button class="btn btn-default btn-success" ng-click="income()" title="add an income"><i class="fa fa-plus-square-o"></i>Income</button>
          <button class="btn btn-default btn-danger" ng-click="withdrawal()" title="add a withdrawal"><i class="fa fa-plus-square-o"></i>Withdrawal</button>
        </div>
      </div>
      <div class="row" id="recap">
          <div class="col-xs-6">
            <h4>
              Total
            </h4>
          </div>
          <div class="col-xs-6">
            <h4 id="total" class="green">
              <i class="fa fa-eur"></i><span ng-cloak>{{wallet.total | number: '2'}}</span>
            </h4>
          </div>
      </div>
      <div class="row" id="table-data">
        <div class="col-xs-12">
          <table class="table" ng-if="wallet.amounts.length>0">
            <thead>
              <tr>
                <th class="col50 center-align">
                  Date
                </th>
                <th class="col50 right-align">
                  Amount
                </th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="amount in wallet.amounts | reverse track by $index" ng-cloak>
              <td class="col50 center-align">
                {{amount.date | date: "yyyy-MM-dd 'at' HH:mm"}}
              </td>
              <td ng-class="amount.type==1 ? 'green col50 right-align' : 'red col50 right-align'">
                {{amount.total | number:'2'}} &euro;
              </td>
            </tr>
          </tbody>
          </table>
          <h4 ng-if="wallet.amounts.length==0" class="red no-data">No data found</h4>
        </div>
      </div>
    </main>
    <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
